:root {
    --background-color: #efefeff6;
    --text-color: rgb(33, 33, 33);
}

body.dark-mode {
    background-color: #212121;
    color: #dddddd;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    gap: 14px;
    font-family: 'Quicksand';
}

#Logo {
    font-size: 3rem;
    font-family: 'Outfit';
    font-weight: bolder;
    margin-top: 20rem;
    margin-bottom: 0px;
}

#darkModeToggle {
    font-size: 1.5rem;
}

#darkModeToggle:hover {
    transform: scale(1.1);
}

h1 span {
    color: #A46BFF;
}

#taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 4px;
    font-size: 1.7rem;
    font-weight: 550;
}

#taskList li {
    display: flex;
    align-items: center;
}

#taskList input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid gray;
    cursor: pointer;
}

#taskList input[type="checkbox"]:checked {
    background-color: gray;
    border-color: gray;
    position: relative;
}

#taskList input[type="checkbox"]:checked + input[type="text"] {
    text-decoration: line-through;
    color: gray;
}

.deleteTaskIcon {
    font-size: 1rem;
    margin-left: auto;
    color: #51515183;
    transition: all .2s ease-in-out;
}

.deleteTaskIcon:hover {
    color: rgb(218, 94, 94);
    transform: scale(1.05);
}

.divider {
    border-bottom: .7px solid #bebebe;
    width: 100%;
}

#addTaskSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

#taskList li:hover,
.deleteTaskIcon:hover, 
#addTaskSection:hover, 
#darkModeToggle:hover {
    cursor: pointer;
}

#addTaskSection:hover {
    background-color: rgba(223, 181, 255, 0.2);
    border-radius: 30px;
    box-shadow: 0 0 4px 1px rgba(216, 147, 255, 0.2);

}

#addTaskIcon {
    font-size: 18px;
    margin-right: 8px;
    color: #948aff;
}

#addTaskLabel {
    color: #7c7c7c;
    font-size: 1.3rem;
}
.taskName {
    border: none;
    background: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 550;
    cursor: pointer;
    width: 100%;
    padding-left: 10px;
    transition: all .2s ease-in;
    border-radius: 25px;
}

.taskName:hover,
.taskName:focus {
    background: rgba(159, 159, 159, 0.155);
    box-shadow: 0 0 4px 1px rgba(81, 81, 81, 0.051);
    padding: 4px 0 4px 14px;
}
