:root {
    --background-color: #efefeff6;
    --text-color: rgb(33, 33, 33);
    font-size: 22px;
}

body.dark-mode {
    background-color: #212121;
    color: #dddddd;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Quicksand';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 40px;
}

/* Logo Styles */
#Logo {
    font-size: 3rem;
    font-family: 'Outfit';
    font-weight: bolder;
    margin: 0;
}

h1 span {
    color: #A46BFF;
}

/* Dark mode toggle Styles */
#darkModeToggle {
    font-size: 1.3rem;
    margin-top: 12px;
    margin-left: 40px;
}

#darkModeToggle:hover {
    transform: scale(1.1);
}


/* Task Panel styles */
#taskPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    gap: 6px;
}    

/* Task List Styles */
#taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 4px;
}

#taskList li {
    display: flex;
    align-items: center;
}

/* Checkbox Styles */
#taskList input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid gray;
    cursor: pointer;
}

#taskList input[type="checkbox"]:checked {
    transition: 0.2s ease-in-out;
    background-color: gray;
    border-color: gray;
    position: relative;
}

#taskList input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode character for checkmark */
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#taskList input[type="checkbox"]:checked + input[type="text"] {
    text-decoration: line-through;
    color: gray;
}

/* Delete task Styles */
.deleteTaskIcon {
    transform: scale(1.1);
    color: #51515183;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.deleteTaskIcon:hover {
    color: rgb(218, 94, 94);
    transform: scale(1);
}
#taskList li:hover > .deleteTaskIcon {
    opacity: 1;
}

/* Add Task Section Styles */
#addTaskSection {
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

#addTaskIcon {
    font-size: 1.2rem;
    margin-right: 8px;
    color: #948aff;
}

#addTaskLabel {
    color: #7c7c7c;
    font-size: 1.2rem;
}

#addTaskSection:hover {
    background-color: rgba(223, 181, 255, 0.2);
    border-radius: 30px;
    box-shadow: 0 0 4px 1px rgba(216, 147, 255, 0.2);   
}

/* Task Name Styles */
.taskName {
    font-size: 1.4rem;
    font-weight: 550;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    padding-left: 10px;
    transition: all .2s ease-in;
    border-radius: 25px;
}

.taskName:hover,
.taskName:focus {
    background: rgba(159, 159, 159, 0.155);
    box-shadow: 0 0 4px 1px rgba(81, 81, 81, 0.051);
    padding: 1px 0 1px 14px;
}

#taskList li.no-hover .deleteTaskIcon {
    opacity: 0 !important;
}

/* General Hover Styles */
#taskList li:hover,
#addTaskSection:hover, 
#darkModeToggle:hover,
.deleteTaskIcon:hover {
    cursor: pointer;
}

/* Layout styles */
.divider {
    border-bottom: .7px solid #bebebe;
    width: 100%;
}
